body {
    background-color: black;
    color: yellow;
}

h1 {
    font-size: 36px;
    color: white;
    text-align: center;
}

h2 {
    color: navy;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

p {
    font-size: 25px;
}

#pinkparagraph {
    color: pink;
}

.pretty {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ugly {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    z-index: 10;
}

.common {
    background-color: rgb(28, 28, 29);
    border: 2px solid white;
    position: absolute;
}

.left {
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
}

.main {
    text-align: center;
}

.right {
    top: 115px;
    right: 25px;
    width: 100px;
    height: 100px;
}

.footer {
    bottom: 30px;
    height: 100px;
    left: 15px;
    right: 25px;
    position: fixed;
    background-color: rgb(28, 28, 29);
    border: 2px solid white;
}

.purpletext {
    color: purple;
}

.redtext{
    color: red;
}